In [150]:
import pandas as pd
import sqlite3

con = sqlite3.connect("test.db")
file_location = r'C:\Users\vitalii\IdeaProjects\settings\bagration\lk.xlsx'

In [133]:
df = pd.read_excel(file_location, header=2,  dtype={ 1 : str})
df = df[['Unnamed: 0',
       'Unnamed: 1',
       'Предыдущее показание',
       'Текущее показание',
       'Дата следующей поверки',
       'Предыдущее показание.1',
       'Текущее показание.1',
       'Дата следующей поверки.1',
       'Предыдущее показание.2',
       'Текущее показание.2',
       'Дата следующей поверки.2',
       'Предыдущее показание.3',
       'Текущее показание.3',
       'Дата следующей поверки.3',
       'Предыдущее показание.4',
       'Текущее показание.4',
       'Дата следующей поверки.4',
       'Предыдущее показание.5',
       'Текущее показание.5',
       'Дата следующей поверки.5',
]]
df.columns = ['address',
              'account',
              'heat_last',
              'heat_now',
              'heat_date',
              'cold_1_last',
              'cold_1_now',
              'cold_1_date',
              'cold_2_last',
              'cold_2_now',
              'cold_2_date',
              'hot_1_last',
              'hot_1_now',
              'hot_1_date',
              'hot_2_last',
              'hot_2_now',
              'hot_2_date',
              'power_last',
              'power_now',
              'power_date',
              ]
df.insert(2, "id", None)

In [60]:
print(df['address'].loc[df['account'] == '30000552900'])

2    Квартира 3
Name: address, dtype: object

In [107]:
df

,address,account,id,heat_last,heat_now,heat_date,cold_1_last,cold_1_now,cold_1_date,cold_2_last,...,cold_2_date,hot_1_last,hot_1_now,hot_1_date,hot_2_last,hot_2_now,hot_2_date,power_last,power_now,power_date
0,Квартира 1,30000552700,None,10.033,NaN,2023-04-30,81.000,NaN,2026-04-19,16.000,...,2028-07-12,28.000,NaN,2026-04-19,9.000,NaN,2028-07-12,3194.00,NaN,2036-05-24
1,Квартира 2,30000552800,None,12.260,NaN,2023-04-30,16.360,NaN,2026-04-19,22.000,...,2026-04-19,10.600,NaN,2026-04-19,8.350,NaN,2026-04-19,1441.00,NaN,2036-05-24
2,Квартира 3,30000552900,None,6.311,NaN,2023-04-30,0.186,NaN,2026-04-19,4.182,...,2026-04-19,1.120,NaN,2026-04-19,2.885,NaN,2026-04-19,167.00,NaN,2036-05-24
3,Квартира 4,30000553000,None,7.439,NaN,2023-04-30,87.431,NaN,2027-10-04,NaN,...,NaT,38.778,NaN,2026-04-19,NaN,NaN,NaT,2686.00,NaN,2036-05-24
4,Квартира 5,30000553100,None,0.127,NaN,2023-04-30,0.000,NaN,2026-04-19,NaN,...,NaT,0.000,NaN,2026-04-19,NaN,NaN,NaT,0.00,NaN,2036-05-24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481,Кладовка 101,30000600600,None,NaN,NaN,NaT,NaN,NaN,NaT,NaN,...,NaT,NaN,NaN,NaT,NaN,NaN,NaT,17.53,NaN,NaT
482,Кладовка 102,30000600700,None,NaN,NaN,NaT,NaN,NaN,NaT,NaN,...,NaT,NaN,NaN,NaT,NaN,NaN,NaT,20.49,NaN,NaT
483,Кладовка 103,30000600800,None,NaN,NaN,NaT,NaN,NaN,NaT,NaN,...,NaT,NaN,NaN,NaT,NaN,NaN,NaT,12.51,NaN,NaT
484,Кладовка 104,30000600900,None,NaN,NaN,NaT,NaN,NaN,NaT,NaN,...,NaT,NaN,NaN,NaT,NaN,NaN,NaT,22.01,NaN,NaT
485,Итого,NaN,None,NaN,NaN,NaT,NaN,NaN,NaT,NaN,...,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaT

In [108]:
df.to_sql('bagration', con, if_exists='replace')

486

In [152]:
# Создаем курсор
cur = con.cursor()

# Создаем таблицу с именем transcript
list(cur.execute("SELECT id FROM bagration;"))

[(None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 ('328854598',),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,)]

In [155]:
if ('328854598',) in cur.execute("SELECT id FROM bagration;"):
    print(True)
else:
    print(False)

True

In [156]:
con.commit()
con.close()

In [141]:
list(cur)[0][0]

ProgrammingError: Cannot operate on a closed database.

In [112]:
df.dtypes

address                object
account                object
id                     object
heat_last             float64
heat_now              float64
heat_date      datetime64[ns]
cold_1_last           float64
cold_1_now            float64
cold_1_date    datetime64[ns]
cold_2_last           float64
cold_2_now            float64
cold_2_date    datetime64[ns]
hot_1_last            float64
hot_1_now             float64
hot_1_date     datetime64[ns]
hot_2_last            float64
hot_2_now             float64
hot_2_date     datetime64[ns]
power_last            float64
power_now             float64
power_date     datetime64[ns]
dtype: object

In [ ]:
"UPDATE bagration SET id = 18 WHERE account = 17"

In [142]:
def sqlite_request(request):
    con = sqlite3.connect("test.db")
    cur = con.cursor()
    cur.execute(request)
    result = cur.fetchall()
    con.commit()
    con.close()
    return result

In [148]:
if (("30000559400"),) not in sqlite_request("SELECT account FROM bagration;"):
    print(True)
else:
    print(False)

False

In [ ]:
from aiogram import Bot, Dispatcher, types
from aiogram.dispatcher import FSMContext
from aiogram.dispatcher.filters.state import State, StatesGroup
from aiogram.contrib.fsm_storage.memory import MemoryStorage

bot = Bot(telegram_token)
storage = MemoryStorage()
dp = Dispatcher(bot, storage=storage)

class PromptState(StatesGroup):
    prompt_cold = State()
    prompt_hot = State()

@dp.message_handler(lambda message: message.text == '0')
async def counters_button(message: types.Message):
    await message.answer("hello")


async def handle_indication_button(message: types.Message, state: State):
    num_a = 4
    num_b = 6
    await message.answer(num_b-num_a)
    await state.set()


async def handle_counter_check(message: types.Message, state: FSMContext):
    await state.finish()
    await message.answer(num_b+num_a)


@dp.message_handler(lambda message: message.text in ['1', '2'], state='*')
async def indication_button_handler(message: types.Message, state: FSMContext):
    if message.text == '1':
        await handle_indication_button(message, PromptState.prompt_cold)
    elif message.text == '2':
        await handle_indication_button(message, PromptState.prompt_hot)



@dp.message_handler(state=PromptState, content_types=types.ContentTypes.TEXT)
async def counter_check_handler(message: types.Message, state: FSMContext):
    await handle_counter_check(message, state)